.clearfix {
    clear: both;
}

#audio-container {
	width:330px;
	height:525px;
	overflow: hidden;
	// border-radius:10px;
	// border:#666 solid 2px;
	margin-left: 57.5px;
	margin-top: 144px;
}

#audio-image{
	position:relative;
	overflow:hidden;
	height: 300px;
	width: 300px;
	margin-top: 10px;
}

#audio-player {
    height: 150px;
    width: 330px;
    margin-top: 20px;
}

#audio-info{
	text-align:center;
	height: 25px;
	width: 330px;
	color: white;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width: 300px;
	height: 300px;
	z-index:1;
}

#volume {
	margin-left: 2.5px;
    appearance: none !important;
    background:#ccc;
    height: 25px;
    width: 320px;
}

#volume::slider-thumb {
    appearance: none !important;
    background:url(../main/css_images/dash.png) no-repeat;
    height:12px;
    width:12px;
}

#buttons{
    height: 60px;
	width: 120px;
	display: block;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
}

button#play{
	width:60px;
	height:60px;
	background:url(../main/css_images/play.png) no-repeat center;
	float:left;
}

button#pause{
	width:60px;
	height:60px;
	background:url(../main/css_images/pause.png) no-repeat center;
	float:left;
}

button#stop{
	width:60px;
	height:60px;
	background:url(../main/css_images/stop.png) no-repeat center;
	float:left;
}

button#prev{
	width:60px;
	height:60px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	width:60px;
	height:60px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#tracker{
	position:relative;
	width:100%;
	margin-top: 20px;
}

#progressBar {
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../main/css_images/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../main/css_images/progress.png) no-repeat;
   height: 10px;
   display: inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	border-radius:5px;
	color: white;
}