@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
    background: #EEEEEE;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat';
}

.left {
  height: 100vh;
  width: 25%;
  background-image: linear-gradient(to right, DarkSlateGray , LightSlateGray);
  float: left;
}

.middle {
  height: 100vh;
  width: 45%;
  background-image: linear-gradient(to right, LightSlateGray , LightSlateGray);
  float: left;
}

.right {
  height: 100vh;
  width: 30%;
  background-image: linear-gradient(to right, LightSlateGray , DarkSlateGray);
  float: left;
}

#logo {
  color: #EEEEEE;
  margin-left: 30px;
  margin-top: 20px;
  text-decoration: none;
}

.left a {
    text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
