.post-container {
    height: 60px;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

#artwork {
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 5px;
}

.song-info {
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}

#audio {
    margin: 5px 5px 5px 0;
    float: right;
    height: 50px;
    outline-width: 0;
    width: 300px;
}

.title {
    font-weight: bold;
}

.play-button {
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 13px;
    margin-right: 13px;
}
