.profile-header {
    width: 600px;
    height: 150px;
    display: table;
    height: 150px;
    width: 600px;
    margin: auto;
}

.profile-header-info {
    width: 400px;
    margin: auto;
    margin-left: 10px;
    margin-top: 30px;
    color: white;
    float: left;
}

.profile-header-info img {
    margin-right: 10px;
}

.follow-update-button {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.profile-post-feed {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
    margin-top: 20px;
}

.profile-post-feed::-webkit-scrollbar {
  display: none;
}

.profile-container {
    width: 600px;
    height: 200px;
    background-color: green;
    margin: auto;
    margin-top: 30px;
}

#profile-img {
    height: 70px;
    width: 70px;
    float: left;
    border-radius: 50%;
}

.username-profile {
    margin-left: 100px;
}

.profile-bio {
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-bottom-color: White;
    border-bottom-style: solid;
    width: 600px;
    padding-bottom: 15px;
}
