.profile-container {
    width: 600px;
    height: 200px;
    background-color: green;
    margin: auto;
    margin-top: 30px;
}

#profile-img {
    float: left;
}

.username-profile {
    margin-left: 100px;
}