{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/audio_player.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }} /static/js/audio_player.js"></script>

<div id="audio-container">
    <div id="audio-image">
        <img class="cover" src="{{ STATIC_URL }} static/main/css_images/artwork-default.png"/>
    </div>
    <div id="audio-player">
        <div id="audio-info">
            <span class="artist"></span> - <span class="title"></span>
        </div>
        <input id="volume" type="range" min="0" max="10" value="5"/>
        <br>
        <div id="buttons">
            <span>
                <button id="play"></button>
                <button id="pause"></button>
                <button id="stop"></button>
            </span>
        </div>
        <div class="clearfix"></div>
        <div id="tracker">
            <div id="progressBar">
                <span id="progress"></span>
            </div>
            <span id="duration"></span>
        </div>
    </div>
</div>
