{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/audio_player.js"></script>

    <title>Beat Share</title>

    <!--Problem is having the wrong version of jquery-->

    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/ajax.js"></script>

</head>

<body>

<div class="left">
    <a id="logo-link" href="{% url 'home' %}">
        <h1 id="logo">Beat Share</h1>
    </a>
    {% if user.is_authenticated %}
    {% include 'main/sidebar.html' %}
    {% endif %}
</div>
<div class="middle">
    {% block middle %}{% endblock %}
</div>
<div class="right">
    {% block right %}{% endblock %}
</div>
<div class="footer">
    {% if user.is_authenticated %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/player.css' %}">

    <audio id="player" controls>
        <source id="sourceMp3" src="" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"-->
<!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>