{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">

    <title>Beat Share</title>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/ajax.js"></script>

</head>

<body>

<div class="left">

    <div class="logo">
        <a href="{% url 'home' %}">
            <h1 id="logo">Beat Share</h1>
        </a>
    </div>

    {% if user.is_authenticated %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/sidebar.css' %}">

    <br>
    <div class="left-container">
        <div class="profile">
            <img src="{{ user.profile.image.url }}">
            <p class="username">{{ user.first_name }} {{ user.last_name }}</p>
        </div>

        <br>

        <div class="explore">
            <h3 class="explore-header">Explore</h3>
            <ul class="explore-list">
                <li>
                    <div class="home-button">
                        <a href="{% url 'home' %}">Home Feed</a>
                    </div>
                </li>
                <li>Subscriptions</li>
                <li>
                    <div class="profile-button">
                        <a href="{% url 'profile' user.id %}">Profile</a>
                    </div>
                </li>
                <li>
                    <div class="upload-button">
                        <a href="{% url 'post-create' %}">Upload</a>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>


<div class="middle">
    {% if user.is_authenticated %}
    <div id="middle-container"></div>
    {% else %}
    <a href="{% url 'login' %}">Login to see posts.</a>
    {% endif %}
</div>


<div class="right">

    {% if user.is_authenticated %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/audio_player.css' %}">

    <div id="audio-container">
        <div id="audio-image">
            <img class="cover" src="{{ STATIC_URL }} static/main/css_images/artwork-default.png"/>
        </div>
        <div id="audio-player">
            <div id="audio-info">
                <span class="artist"></span> - <span class="title"></span>
            </div>
            <input id="volume" type="range" min="0" max="10" value="5"/>
            <br>
            <div id="buttons">
		 <span>
			<button id="play"></button>
			<button id="pause"></button>
			<button id="stop"></button>
			</span>
            </div>
            <div class="clearfix"></div>
            <div id="tracker">
                <div id="progressBar">
                    <span id="progress"></span>
                </div>
                <span id="duration"></span>
            </div>
        </div>
    </div>
    {% endif %}

</div>


<script>

    $(document).ready( function() {

        $('#middle-container').load( 'home' );

        $('.explore-list a').click(function(e) {
            e.preventDefault();
            $('#middle-container').load(e.target.href);
        })

        $('.logo a').click(function(e) {
            e.preventDefault();
            $('#middle-container').load(e.target.href);
        })

    });


</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script type="text/javascript" src="{{ STATIC_URL }} /static/js/audio_player.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>