{% extends "main/base.html" %}

{% block content %}


{% if type == "reg" %}
<h2>Subscription Posts</h2>
{% else %}
<h4>Search Results</h4>
{% endif %}

{% if not posts and type == "search" %}
<h5>No matching results.</h5>
{% else %}


{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            {% if user.is_authenticated %}
            <a class="mr-2" href="{% url 'profile' post.author.user.id %}">{{ post.author }}</a>
            {% else %}
            <h5>{{ post.author }}</h5>
            {% endif %}
            <small class="text-muted"> {{ post.date_posted }}</small>
        </div>
        <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
        <p class="article-content">{{ post.description }}</p>

        <audio controls>
            <source src="{{ post.song.url }}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>

    </div>
</article>
{% endfor %}

{% endif %}

{% endblock content %}
