{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block left %}
{% include 'main/sidebar.html' %}
{% endblock left %}


{% block middle %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/profile.css' %}">

<div class="profile-container">
    <img id="profile-img" src="{{ user.profile.image.url }}">
    <div class="profile-info">
        <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="username">@{{ user.username }}</p>
    </div>
</div>

{% for post in posts %}
{% include "main/post.html" with post=post %}
{% endfor %}

{% endblock middle %}


{% block right %}
{% endblock %}