<div id="pjax-container">

    <div>
        <h3>{{ request.user.username }}</h3>
    </div>

    <div class="post-feed">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/post.css' %}">

        {% for post in posts %}

        {% if post.author.user == request.user %}

        <div class="post-container">
            <img id="artwork" src="{{ STATIC_URL }} static/main/css_images/artwork-default.png">
            <div class="song-info">
                <div class="title"><a style="color: #EEEEEE;" href="{% url 'post-detail' post.id %}">
                    {{ post.title }}</a>
                </div>
                <div class="artist"><a style="color: #EEEEEE;" href="{% url 'profile' user.id %}">
                    {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                </a></div>
            </div>

            <img class="play-button"
                 src="{{ STATIC_URL }} static/main/css_images/play-button.png"
                 onclick='loadSong( "{{ post.song.url }}", "{{ post.title }}", "{{ post.author.user.username }}" )'>

        </div>

        {% endif %}

        {% endfor %}
    </div>

</div>