<div id="pjax-container">

    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/profile_update.css' %}">

    <div class="update-profile-outer">

      <form enctype="multipart/form-data" method="POST" class="profile-update-form">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Update Profile</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit" id="submit-button">Update</button>
          </div>
      </form>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var frm = $('.profile-update-form'); // The html element
            var frm_obj = $('form')[0]; // The form object with all the data

            frm.submit(function () {
                $.ajax({
                    type: frm.attr('method'),
                    url: "{% url 'update-profile' pk=user.id %}",
                    data: new FormData(frm_obj),
                    contentType: false, // Allows for multi-type data ie files
                    processData: false, // Doesn't append data to URL and allows for data to be sent without processed
                    success: function (data) {
                        $("#middle-container").html(data);
                    },
                    error: function(data) {
                        $("#middle-container").html("Something went wrong!");
                    }
                });
                return false;
            });
        });

    </script>

</div>
