{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block login  %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/register.css' %}">

<div class="register-container">
    <div class="register">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock login %}
